[user]
  email = 4206970+traviscrist@users.noreply.github.com
  name = Travis Crist
[core]
  excludesfile = /Users/travis/.gitignore
  editor = nvim
[branch]
  autosetuprebase = always
[url "git@github.com:"]
  insteadOf = https://github.com/
[push]
  autoSetupRemote = true
[merge]
  conflictstyle = diff3
[alias]
  st = status
  ci = commit
  cob = checkout -b
  co = checkout
  p = pull
  com = checkout main
